h1
{
    color:#ffa511;
    text-align: center;
    font-size: 55px;
    font-style: League spartan;
    letter-spacing: 2px;
    font-weight: 900;
    text-decoration:double rgb(80, 188, 224) underline;
    line-height: 1.5x;
    text-transform: uppercase;
}